Repository grant-project/grant-monorepo, pull requests merged in 2018-10, with the labels that each got.

#121 Share Proposal.
  frontend/client/components/Proposal/index.tsx
  frontend/client/components/Proposal/style.less
  frontend/client/components/SocialShare.less
  frontend/client/components/SocialShare.tsx
Labels: enhancement, frontend

#123 User Authentication UI (Pt 1 - The Basics)
  frontend/client/Routes.tsx
  frontend/client/components/AuthFlow/ProvideIdentity.less
  frontend/client/components/AuthFlow/ProvideIdentity.tsx
  frontend/client/components/AuthFlow/SelectProvider.less
  frontend/client/components/AuthFlow/SelectProvider.tsx
  frontend/client/components/AuthFlow/SignIn.tsx
  frontend/client/components/AuthFlow/SignUp.less
  frontend/client/components/AuthFlow/SignUp.tsx
  frontend/client/components/AuthFlow/index.less
  frontend/client/components/AuthFlow/index.tsx
  frontend/client/components/AuthFlow/providers/Address.less
  frontend/client/components/AuthFlow/providers/Address.tsx
  frontend/client/components/AuthFlow/providers/Ledger.tsx
  frontend/client/components/AuthFlow/providers/Trezor.tsx
  frontend/client/components/AuthFlow/providers/Web3.less
  frontend/client/components/AuthFlow/providers/Web3.tsx
  frontend/client/components/AuthRoute.tsx
  frontend/client/components/Header/index.tsx
  frontend/client/components/Header/style.less
  frontend/client/components/NoAuthRoute.tsx
  frontend/client/components/ShortAddress.tsx
  frontend/client/modules/auth/actions.ts
  frontend/client/modules/auth/index.ts
  frontend/client/modules/auth/reducers.ts
  frontend/client/modules/auth/types.ts
  frontend/client/modules/web3/actions.ts
  frontend/client/pages/auth.tsx
  frontend/client/pages/profile.tsx
  frontend/client/store/reducers.tsx
  frontend/client/utils/auth.ts
  frontend/server/render.tsx
Labels: frontend

#136 (Slight) Gas Optimizations
  contract/contracts/CrowdFund.sol
Labels: contract

#137 Express Auth Service
  auth/.gitignore
  auth/Procfile
  auth/README.md
  auth/app/controllers/index.ts
  auth/app/controllers/message.controller.ts
  auth/app/eth-sig-util.d.ts
  auth/app/server.ts
  auth/build/controllers/index.js
  auth/build/controllers/message.controller.js
  auth/build/server.js
  auth/package.json
  auth/tsconfig.json
  auth/yarn.lock
Labels: auth

#151 Standard pages
  frontend/client/Routes.tsx
  frontend/client/components/About/index.tsx
  frontend/client/components/About/style.less
  frontend/client/components/Contact/index.tsx
  frontend/client/components/Contact/style.less
  frontend/client/components/Footer/index.tsx
  frontend/client/components/Privacy/index.tsx
  frontend/client/components/Privacy/style.less
  frontend/client/components/Tos/index.tsx
  frontend/client/components/Tos/style.less
  frontend/client/pages/about.tsx
  frontend/client/pages/contact.tsx
  frontend/client/pages/privacy.tsx
  frontend/client/pages/tos.tsx
  frontend/client/styles/legal-document-mixin.less
Labels: frontend

#149 thumb friendly proposal social buttons
  frontend/client/components/Proposal/style.less
Labels: frontend

#156 Setup meta tags for social sharing and SEO
  frontend/.envexample
  frontend/client/components/BasicHead.tsx
  frontend/client/components/HeaderDetails.tsx
  frontend/client/components/Home/index.tsx
  frontend/client/components/Profile/index.tsx
  frontend/client/static/images/ogp-logo.png
  frontend/client/utils/helpers.ts
  frontend/config/env.js
Labels: frontend

#159 Tighten Backend Patterns
  backend/grant/__init__.py
  backend/grant/comment/views.py
  backend/grant/milestone/views.py
  backend/grant/proposal/views.py
  backend/grant/user/views.py
  backend/requirements/dev.txt
  backend/requirements/prod.txt
  backend/tests/proposal/test_api.py
  backend/tests/user/test_user_api.py
Labels: backend

#160 Profile edit
  backend/grant/user/views.py
  backend/tests/user/test_user_api.py
  frontend/client/api/api.ts
  frontend/client/components/Profile/ProfileEdit.less
  frontend/client/components/Profile/ProfileEdit.tsx
  frontend/client/components/Profile/ProfileUser.less
  frontend/client/components/Profile/ProfileUser.tsx
  frontend/client/modules/users/actions.ts
  frontend/client/modules/users/index.ts
  frontend/client/modules/users/reducers.ts
  frontend/client/modules/users/types.ts
  frontend/client/utils/api.ts
  frontend/client/utils/helpers.ts
Labels: backend, frontend

#164 Admin
  admin/.envexample
  admin/.gitignore
  admin/.npmignore
  admin/.npmrc
  admin/.nvmrc
  admin/.prettierrc
  admin/README.md
  admin/package.json
  admin/server.js
  admin/src/Routes.tsx
  admin/src/components/Field/index.less
  admin/src/components/Field/index.tsx
  admin/src/components/Home/index.less
  admin/src/components/Home/index.tsx
  admin/src/components/Login/index.less
  admin/src/components/Login/index.tsx
  admin/src/components/Proposals/index.less
  admin/src/components/Proposals/index.tsx
  admin/src/components/Template/index.less
  admin/src/components/Template/index.tsx
  admin/src/components/Users/index.less
  admin/src/components/Users/index.tsx
  admin/src/index.tsx
  admin/src/static/index.html
  admin/src/store.ts
  admin/src/styles/style.less
  admin/src/types.ts
  admin/src/web3helper.ts
  admin/tsconfig.json
  admin/tslint.json
  admin/webpack.config.js
  admin/yarn.lock
  backend/grant/admin/__init__.py
  backend/grant/admin/views.py
  backend/grant/app.py
Labels: backend, frontend
