Repository grant-project/grant-monorepo, pull requests merged in 2018-09, with the labels that each got.

#48 Show contribution amounts
  contract/contracts/CrowdFund.sol
  contract/test/CrowdFundTest.js
Labels: contract

#52 Update Tagline
  frontend/client/components/Home/index.tsx
Labels: frontend

#49 Show Proposal Contribution Amounts
  frontend/client/components/CreateProposal/index.tsx
  frontend/client/components/Proposal/Contributors/index.tsx
  frontend/client/components/Proposal/index.tsx
  frontend/client/components/UserRow/index.tsx
  frontend/client/modules/proposals/reducers.ts
  frontend/client/modules/web3/actions.ts
  frontend/client/utils/helpers.ts
  frontend/client/utils/units.ts
  frontend/client/web3interact/crowdFund.ts
Labels: frontend

#29 Create Proposal Comment API
  backend/grant/app.py
  backend/grant/milestone/models.py
  backend/grant/proposal/views.py
  backend/requirements/dev.txt
  backend/tests/__init__.py
  backend/tests/config.py
  backend/tests/conftest.py
  backend/tests/proposal/__init__.py
  backend/tests/proposal/test_api.py
  backend/tests/settings.py
  script.py
  test.py
Labels: backend

#70 Route Enhacements
  backend/grant/author/views.py
  backend/grant/comment/views.py
  backend/grant/milestone/views.py
  backend/grant/proposal/views.py
  backend/tests/proposal/test_api.py
  frontend/client/api/api.ts
Labels: backend, frontend

#75 Header, Footer & Home styled to less conversion
  frontend/client/components/Footer/index.tsx
  frontend/client/components/Footer/style.less
  frontend/client/components/Footer/styled.tsx
  frontend/client/components/Header/index.tsx
  frontend/client/components/Header/style.less
  frontend/client/components/Header/styled.ts
  frontend/client/components/Home/index.tsx
  frontend/client/components/Home/style.less
  frontend/client/components/Home/styled.ts
Labels: frontend

#80 UserRow & Web3Page to less
  frontend/client/components/CreateProposal/TrusteeFields.tsx
  frontend/client/components/UserRow/index.tsx
  frontend/client/components/UserRow/style.less
  frontend/client/components/UserRow/styled.ts
  frontend/client/components/Web3Page/index.tsx
  frontend/client/components/Web3Page/style.less
  frontend/client/components/Web3Page/styled.tsx
Labels: frontend

#76 Create Flow (first pass)
  frontend/client/components/AntWrap.tsx
  frontend/client/components/CreateFlow/Basics.tsx
  frontend/client/components/CreateFlow/Details.tsx
  frontend/client/components/CreateFlow/Final.less
  frontend/client/components/CreateFlow/Final.tsx
  frontend/client/components/CreateFlow/Governance.tsx
  frontend/client/components/CreateFlow/Milestones.tsx
  frontend/client/components/CreateFlow/Preview.tsx
  frontend/client/components/CreateFlow/Review.less
  frontend/client/components/CreateFlow/Review.tsx
  frontend/client/components/CreateFlow/Team.tsx
  frontend/client/components/CreateFlow/example.ts
  frontend/client/components/CreateFlow/index.less
  frontend/client/components/CreateFlow/index.tsx
  frontend/client/components/CreateProposal/CreateSuccess.tsx
  frontend/client/components/CreateProposal/MilestoneFields.tsx
  frontend/client/components/CreateProposal/TrusteeFields.tsx
  frontend/client/components/CreateProposal/exampleProposal.json
  frontend/client/components/CreateProposal/index.tsx
  frontend/client/components/CreateProposal/styled.ts
  frontend/client/components/MarkdownEditor/index.tsx
  frontend/client/components/Proposal/CampaignBlock/index.tsx
  frontend/client/components/Proposal/index.tsx
  frontend/client/components/Web3Page/index.tsx
  frontend/client/modules/create/actions.ts
  frontend/client/modules/create/index.ts
  frontend/client/modules/create/reducers.ts
  frontend/client/modules/create/types.ts
  frontend/client/modules/create/utils.ts
  frontend/client/modules/proposals/reducers.ts
  frontend/client/modules/web3/actions.ts
  frontend/client/modules/web3/reducers.ts
  frontend/client/modules/web3/types.ts
  frontend/client/pages/create.tsx
  frontend/client/store/reducers.tsx
  frontend/client/utils/markdown.ts
  frontend/client/utils/time.ts
  frontend/client/utils/units.ts
  frontend/client/utils/validators.ts
  frontend/package.json
  frontend/yarn.lock
Labels: frontend

#86 Fix Naked Initial Load
  frontend/config/webpack.config.js/client.base.js
  frontend/config/webpack.config.js/plugins.js
  frontend/package.json
  frontend/server/render.tsx
  frontend/yarn.lock
Labels: frontend

#90 Proposal style to less.
  frontend/client/components/Proposal/CampaignBlock/index.tsx
  frontend/client/components/Proposal/CampaignBlock/style.less
  frontend/client/components/Proposal/CampaignBlock/styled.ts
  frontend/client/components/Proposal/Comments/index.tsx
  frontend/client/components/Proposal/Comments/style.less
  frontend/client/components/Proposal/Comments/styled.ts
  frontend/client/components/Proposal/Contributors/index.tsx
  frontend/client/components/Proposal/Governance/Milestones.tsx
  frontend/client/components/Proposal/Governance/Refunds.tsx
  frontend/client/components/Proposal/Governance/index.tsx
  frontend/client/components/Proposal/Governance/style.less
  frontend/client/components/Proposal/Governance/styled.ts
  frontend/client/components/Proposal/Milestones/index.tsx
  frontend/client/components/Proposal/Milestones/style.less
  frontend/client/components/Proposal/Milestones/styled.ts
  frontend/client/components/Proposal/TeamBlock/index.tsx
  frontend/client/components/Proposal/Updates/index.tsx
  frontend/client/components/Proposal/Updates/style.less
  frontend/client/components/Proposal/Updates/styled.ts
  frontend/client/components/Proposal/index.tsx
  frontend/client/components/Proposal/style.less
  frontend/client/components/Proposal/styled.tsx
Labels: frontend

#88 Comment, Placeholder & Routes to less.
  frontend/client/Routes.tsx
  frontend/client/components/Comment/index.tsx
  frontend/client/components/Comment/style.less
  frontend/client/components/Comment/styled.ts
  frontend/client/components/Placeholder/index.tsx
  frontend/client/components/Placeholder/style.less
  frontend/client/components/Placeholder/styled.ts
  frontend/client/styles/html.less
  frontend/client/styles/style.less
Labels: frontend

#91 NewsletterForm & ShortAddress to less.
  frontend/client/components/NewsletterForm/index.tsx
  frontend/client/components/NewsletterForm/style.less
  frontend/client/components/NewsletterForm/styled.tsx
  frontend/client/components/ShortAddress.less
  frontend/client/components/ShortAddress.tsx
Labels: frontend

#94 Freeze Reason
  contract/contracts/CrowdFund.sol
  contract/test/CrowdFundDeadlineTest.js
  contract/test/CrowdFundTest.js
Labels: contract

#98 Integrate Storybook
  frontend/.storybook/config.js
  frontend/.storybook/webpack.config.js
  frontend/client/components/Proposal/CampaignBlock/index.tsx
  frontend/client/components/Proposal/Governance/Milestones.tsx
  frontend/client/components/Proposal/Governance/style.less
  frontend/client/components/Proposals/ProposalCard/index.tsx
  frontend/config/webpack.config.js/resolvers.js
  frontend/package.json
  frontend/stories/MarkdownEditor.story.tsx
  frontend/stories/Placeholder.story.tsx
  frontend/stories/Proposal.story.tsx
  frontend/stories/ProposalCard.story.tsx
  frontend/stories/ShortAddress.story.tsx
  frontend/stories/UnitDisplay.story.tsx
  frontend/stories/index.stories.tsx
  frontend/stories/props.tsx
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: enhancement, frontend

#112 Backend Regression Tests
  backend/grant/proposal/views.py
  backend/tests/user/test_user_api.py
Labels: backend

#113 User Resource Enhancements
  backend/grant/user/models.py
  backend/grant/user/views.py
  backend/tests/user/test_user_api.py
Labels: backend

#118 Add 404 Page
  frontend/client/Routes.tsx
  frontend/client/components/LinkButton.tsx
  frontend/client/pages/exception.tsx
Labels: frontend
